@media only screen and (min-width: 768px) and (max-width: 959px) {
  .bislr_grid_container_outer {
    min-width: 100%;
    min-height: 1px;
  }
  .bislr_grid_container {
    position: relative;
    width: 100%;
    max-width: 92%;
    margin: 0 auto;
    padding: 0;
  }
  .bislr_grid_column {
    float: left;
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .bislr_grid_column.alpha {
    margin-left: 0;
  }
  .bislr_grid_column.omega {
    margin-left: 0;
  }
  .bislr_grid_column.grid_1 {
    width: 6.333%;
  }
  .bislr_grid_column.grid_2 {
    width: 14.667%;
  }
  .bislr_grid_column.grid_3 {
    width: 23%;
  }
  .bislr_grid_column.grid_4 {
    width: 31.333%;
  }
  .bislr_grid_column.grid_5 {
    width: 39.667%;
  }
  .bislr_grid_column.grid_6 {
    width: 48%;
  }
  .bislr_grid_column.grid_7 {
    width: 56.333%;
  }
  .bislr_grid_column.grid_8 {
    width: 64.667%;
  }
  .bislr_grid_column.grid_9 {
    width: 73%;
  }
  .bislr_grid_column.grid_10 {
    width: 81.333%;
  }
  .bislr_grid_column.grid_11 {
    width: 89.667%;
  }
  .bislr_grid_column.grid_12 {
    width: 98%;
  }
  .bislr_grid_column.push-by-one {
    padding-left: 8.333%;
  }
  .bislr_grid_column.push-by-two {
    padding-left: 16.667%;
  }
  .bislr_grid_column.push-by-three {
    padding-left: 25%;
  }
  .bislr_grid_column.push-by-four {
    padding-left: 33.333%;
  }
  .bislr_grid_column.push-by-five {
    padding-left: 41.667%;
  }
  .bislr_grid_column.push-by-six {
    padding-left: 50%;
  }
  .bislr_grid_column.push-by-seven {
    padding-left: 58.333%;
  }
  .bislr_grid_column.push-by-eight {
    padding-left: 66.667%;
  }
  .bislr_grid_column.push-by-nine {
    padding-left: 75%;
  }
  .bislr_grid_column.push-by-ten {
    padding-left: 83.333%;
  }
  .bislr_grid_column.push-by-eleven {
    padding-left: 91.667%;
  }
  .bislr_grid_column.pull-by-one {
    padding-right: 8.333%;
  }
  .bislr_grid_column.pull-by-two {
    padding-right: 16.667%;
  }
  .bislr_grid_column.pull-by-three {
    padding-right: 25%;
  }
  .bislr_grid_column.pull-by-four {
    padding-right: 33.333%;
  }
  .bislr_grid_column.pull-by-five {
    padding-right: 41.667%;
  }
  .bislr_grid_column.pull-by-six {
    padding-right: 50%;
  }
  .bislr_grid_column.pull-by-seven {
    padding-right: 58.333%;
  }
  .bislr_grid_column.pull-by-eight {
    padding-right: 66.667%;
  }
  .bislr_grid_column.pull-by-nine {
    padding-right: 75%;
  }
  .bislr_grid_column.pull-by-ten {
    padding-right: 83.333%;
  }
  .bislr_grid_column.pull-by-eleven {
    padding-right: 91.667%;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .bislr_grid_container_outer {
    min-width: 100%;
    min-height: 1px;
  }
  .bislr_grid_container {
    position: relative;
    width: 100%;
    max-width: 96% !important;
    margin: 0 auto;
    padding: 0;
  }
  .bislr_grid_column {
    float: left;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .bislr_grid_column.alpha {
    margin-left: 0;
  }
  .bislr_grid_column.omega {
    margin-left: 0;
  }
  .bislr_grid_column.grid_1 {
    width: 100%;
  }
  .bislr_grid_column.grid_2 {
    width: 100%;
  }
  .bislr_grid_column.grid_3 {
    width: 100%;
  }
  .bislr_grid_column.grid_4 {
    width: 100%;
  }
  .bislr_grid_column.grid_5 {
    width: 100%;
  }
  .bislr_grid_column.grid_6 {
    width: 100%;
  }
  .bislr_grid_column.grid_7 {
    width: 100%;
  }
  .bislr_grid_column.grid_8 {
    width: 100%;
  }
  .bislr_grid_column.grid_9 {
    width: 100%;
  }
  .bislr_grid_column.grid_10 {
    width: 100%;
  }
  .bislr_grid_column.grid_11 {
    width: 100%;
  }
  .bislr_grid_column.grid_12 {
    width: 100%;
  }
  .push-by-one {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-one-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-two {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-two-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-three {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-three-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-four {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-four-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-five {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-five-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-six {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-six-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-seven {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-seven-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-eight {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-eight-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-nine {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-nine-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-ten {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-ten-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-eleven {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .push-by-eleven-half {
    padding-left: 0px !important;
    box-sizing: content-box;
  }
  .mobile-top-margin {
    margin-top: 10px;
  }
  .mobile-top-margin:first-child {
    margin-top: 0px;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .bislr_app_pipe_grid_feature {
    margin: 0 auto;
    width: 100%;
  }
  .bislr_app_pipe_grid_feature .grid_elem {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
  .bislr_app_view.ecommerce.grid .bislr_app.secondary:nth-child(5n) {
    clear: none;
  }
  .bislr_app_view.ecommerce.grid .bislr_app.secondary:nth-child(2n) {
    clear: left;
  }
  .bislr_app_view.ecommerce.grid .bislr_app.secondary {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
@media handheld, only screen and (max-width: 460px) {
  .bislr_app_view.ecommerce.grid .bislr_app.feature {
    width: 100%;
  }
  .bislr_app_view.ecommerce.grid .bislr_app.feature .view_image {
    width: 100%;
  }
  .bislr_app_view.ecommerce.grid .bislr_app.feature .view_content {
    width: 100%;
  }
  .bislr_app_view.ecommerce.grid .bislr_app.secondary {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .bislr_app_view.ecommerce.list .bislr_app.feature {
    width: 100%;
  }
  .bislr_app_view.ecommerce.list .bislr_app.feature .view_image {
    width: 40%;
  }
  .bislr_app_view.ecommerce.list .bislr_app.feature .view_content {
    width: 60%;
  }
  .bislr_app_view.ecommerce.list .bislr_app.secondary {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .bislr_app_view.ecommerce.list .bislr_app.secondary .view_image {
    width: 40%;
  }
  .bislr_app_view.ecommerce.list .bislr_app.secondary .view_content {
    width: 60%;
  }
}
@media handheld, only screen and (max-width: 460px) {
  .bislr_app_view.ecommerce.list .bislr_app.feature {
    width: 100%;
  }
  .bislr_app_view.ecommerce.list .bislr_app.feature .view_image {
    width: 100%;
  }
  .bislr_app_view.ecommerce.list .bislr_app.feature .view_content {
    width: 100%;
  }
  .bislr_app_view.ecommerce.list .bislr_app.secondary {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .bislr_app_view.ecommerce.list .bislr_app.secondary .view_image {
    width: 100%;
  }
  .bislr_app_view.ecommerce.list .bislr_app.secondary .view_content {
    width: 100%;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .bislr_app_pipe_grid_feature {
    margin: 0 auto;
    width: 100%;
  }
  .bislr_app_pipe_grid_feature .grid_elem {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
  }
  .bislr_app_view.blog_detail.grid .bislr_app.secondary:nth-child(5n) {
    clear: none;
  }
  .bislr_app_view.blog_detail.grid .bislr_app.secondary:nth-child(2n) {
    clear: left;
  }
  .bislr_app_view.blog_detail.grid .bislr_app.secondary {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
@media handheld, only screen and (max-width: 460px) {
  .bislr_app_view.blog_detail.grid .bislr_app.feature {
    width: 100%;
  }
  .bislr_app_view.blog_detail.grid .bislr_app.feature .view_image {
    width: 100%;
  }
  .bislr_app_view.blog_detail.grid .bislr_app.feature .view_content {
    width: 100%;
  }
  .bislr_app_view.blog_detail.grid .bislr_app.secondary {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media handheld, only screen and (max-width: 767px) {
  .bislr_app_view.blog_detail.list .bislr_app.feature {
    width: 100%;
  }
  .bislr_app_view.blog_detail.list .bislr_app.feature .view_image {
    width: 40%;
  }
  .bislr_app_view.blog_detail.list .bislr_app.feature .view_content {
    width: 60%;
  }
  .bislr_app_view.blog_detail.list .bislr_app.secondary {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .bislr_app_view.blog_detail.list .bislr_app.secondary .view_image {
    width: 40%;
  }
  .bislr_app_view.blog_detail.list .bislr_app.secondary .view_content {
    width: 60%;
  }
}
@media handheld, only screen and (max-width: 460px) {
  .bislr_app_view.blog_detail.list .bislr_app.feature {
    width: 100%;
  }
  .bislr_app_view.blog_detail.list .bislr_app.feature .view_image {
    width: 100%;
  }
  .bislr_app_view.blog_detail.list .bislr_app.feature .view_content {
    padding-left: 0px;
    width: 100%;
  }
  .bislr_app_view.blog_detail.list .bislr_app.secondary {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .bislr_app_view.blog_detail.list .bislr_app.secondary .view_image {
    width: 100%;
  }
  .bislr_app_view.blog_detail.list .bislr_app.secondary .view_content {
    width: 100%;
    padding-left: 0px;
  }
}
.bislr_app_view.skin1 {
  font-size: 12px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans serif;
}
.bislr_app_view.skin1 h1,
.bislr_app_view.skin1 .alpha_font,
.bislr_app_view.skin1 h2,
.bislr_app_view.skin1 .beta_font,
.bislr_app_view.skin1 h3,
.bislr_app_view.skin1 .gamma_font,
.bislr_app_view.skin1 h4,
.bislr_app_view.skin1 .delta_font,
.bislr_app_view.skin1 h5,
.bislr_app_view.skin1 .epsilon_font,
.bislr_app_view.skin1 h6,
.bislr_app_view.skin1 .zeta_font,
.bislr_app_view.skin1 p,
.bislr_app_view.skin1 .caption {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans serif;
}
.bislr_app_view.skin1 .bislr_app.secondary .view_content .title h3 {
  font-size: 1.833em;
}
.bislr_app_view.skin1 .bislr_app.feature {
  border-bottom: 1px solid #ebebeb;
}
.bislr_app_view.skin1 .bislr_app h5,
.bislr_app_view.skin1 .bislr_app p {
  color: #676767;
}
.bislr_app_view.skin1 .bislr_app .view_content .title h3 {
  font-size: 2.333em;
  font-weight: bold;
  color: #404040;
}
.bislr_app_view.skin1 .bislr_app .view_content .date h5.string {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .date h5.data {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .author .img img {
  border-radius: 50px;
  max-width: 100px;
}
.bislr_app_view.skin1 .bislr_app .view_content .author h5.string {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .author h5.data {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .comments h5.string {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .comments h5.data {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .content h5.string {
  font-size: 1.25em;
}
.bislr_app_view.skin1 .bislr_app .view_content .content p.data {
  font-size: 1.25em;
}
.bislr_app_view.skin1 .bislr_app .view_content .content p.link {
  cursor: pointer;
}
.bislr_app_view.skin1 .bislr_app .view_content .content p.link a {
  text-decoration: none;
  font-weight: bold;
  color: #404040;
  font-size: 0.917em;
}
.bislr_app_view.skin1 .bislr_app .view_content .tags h5.string {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .tags h5.data {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .social h5.string {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .social h5.data {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .subscribe h5 {
  font-size: 1em;
}
.bislr_app_view.skin1 .bislr_app .view_content .subscribe h5.string {
  color: #404040;
}
.bislr_app_view.skin1 .bislr_app .view_content .subscribe .data fieldset .button button {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.083em;
  font-weight: bold;
  border-radius: 3px;
  moz-border-radius: 3px;
  webkit-border-radius: 3px;
}
.bislr_app_view.skin2 {
  background: #2e2e2e;
  font-size: view_info;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans serif;
/*42*/
/* 32px */
/* 26px */
/* 22px */
/*19px*/
/*17px*/
/*inherit body 14px*/
/* 13px - caption 	*/
}
.bislr_app_view.skin2 h1,
.bislr_app_view.skin2 .alpha_font {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans serif;
  font-size: 2.8em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin2 h2,
.bislr_app_view.skin2 .beta_font {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans serif;
  font-size: 2.133em;
  line-height: 1.2em;
  font-weight: normal;
}
.bislr_app_view.skin2 h3,
.bislr_app_view.skin2 .gamma_font {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans serif;
  font-size: 1.733em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin2 h4,
.bislr_app_view.skin2 .delta_font {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans serif;
  font-size: 1.467em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin2 h5,
.bislr_app_view.skin2 .epsilon_font {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans serif;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin2 h6,
.bislr_app_view.skin2 .zeta_font {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans serif;
  font-size: 1.133em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin2 p {
  font-family: Arial, Arial, 'Helvetica Neue', Helvetica, sans serif;
  font-size: 1em;
  line-height: 1.4em;
  font-weight: normal;
}
.bislr_app_view.skin2 .caption {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans serif;
  font-size: 0.867em;
  line-height: 1.4em;
  font-style: italic;
}
.bislr_app_view.skin2 .bislr_app.secondary .view_content .title h3 {
  font-size: 1.833em;
}
.bislr_app_view.skin2 .bislr_app.feature {
  border-bottom: 1px solid #424242;
}
.bislr_app_view.skin2 .bislr_app h5,
.bislr_app_view.skin2 .bislr_app p {
  color: #cacaca;
}
.bislr_app_view.skin2 .bislr_app .view_content .title h3 {
  font-size: 2.333em;
  font-weight: bold;
  color: #eee;
}
.bislr_app_view.skin2 .bislr_app .view_content .company h5 {
  font-size: 1.083em;
}
.bislr_app_view.skin2 .bislr_app .view_content .company h5.string {
  color: #eee;
}
.bislr_app_view.skin2 .bislr_app .view_content .company h5.data {
  color: #cacaca;
}
.bislr_app_view.skin2 .bislr_app .view_content .distributor h5 {
  font-size: 0.917em;
}
.bislr_app_view.skin2 .bislr_app .view_content .save h5 {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .save h5.string {
  color: #cacaca;
}
.bislr_app_view.skin2 .bislr_app .view_content .save h5.data {
  color: #eee;
  font-size: 1.25em;
}
.bislr_app_view.skin2 .bislr_app .view_content .listprice h5 {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .listprice h5.string {
  color: #cacaca;
}
.bislr_app_view.skin2 .bislr_app .view_content .listprice h5.data {
  font-size: 1.25em;
  color: #eee;
  text-decoration: line-through;
}
.bislr_app_view.skin2 .bislr_app .view_content .price h5 {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .price h5.string {
  color: #cacaca;
  font-weight: normal;
}
.bislr_app_view.skin2 .bislr_app .view_content .price h5.data {
  font-size: 1.25em;
  font-weight: bold;
  padding: 3px 10px;
  color: #fff;
  background: #7aa48a;
  border-radius: 3px;
  moz-border-radius: 3px;
  webkit-border-radius: 3px;
}
.bislr_app_view.skin2 .bislr_app .view_content .stock h5 {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .stock h5.string {
  color: #eee;
}
.bislr_app_view.skin2 .bislr_app .view_content .stock h5.data {
  color: #cacaca;
}
.bislr_app_view.skin2 .bislr_app .view_content .tax h5 {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .tax h5.string {
  color: #eee;
}
.bislr_app_view.skin2 .bislr_app .view_content .tax h5.data {
  color: #cacaca;
}
.bislr_app_view.skin2 .bislr_app .view_content .shipping h5 {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .shipping h5.string {
  color: #eee;
}
.bislr_app_view.skin2 .bislr_app .view_content .shipping h5.data {
  color: #cacaca;
}
.bislr_app_view.skin2 .bislr_app .view_content .dropdown_list h5 {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .dropdown_list h5.string {
  color: #eee;
}
.bislr_app_view.skin2 .bislr_app .view_content .dropdown_list .data fieldset select {
  color: #cacaca;
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .quantity h5 {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .quantity h5.string {
  color: #eee;
}
.bislr_app_view.skin2 .bislr_app .view_content .quantity .data fieldset input.list_input {
  background: #fff;
  border: 1px solid #000;
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .coupon h5 {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .coupon h5.string {
  color: #eee;
}
.bislr_app_view.skin2 .bislr_app .view_content .coupon .data fieldset input.list_input {
  background: #fff;
  border: 1px solid #000;
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .add_to_cart h5 {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .add_to_cart h5.string {
  color: #eee;
}
.bislr_app_view.skin2 .bislr_app .view_content .add_to_cart .data fieldset .button button {
  background: #fdfdfd;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.083em;
  font-weight: bold;
  border-radius: 3px;
  moz-border-radius: 3px;
  webkit-border-radius: 3px;
}
.bislr_app_view.skin2 .bislr_app .view_content .description h5.string {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .description p.data {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .description p.link {
  cursor: pointer;
}
.bislr_app_view.skin2 .bislr_app .view_content .description p.link a {
  text-decoration: none;
  font-weight: bold;
  color: #eee;
  font-size: 0.917em;
}
.bislr_app_view.skin2 .bislr_app .view_content .social h5.string,
.bislr_app_view.skin2 .bislr_app .view_content .rating h5.string {
  font-size: 1em;
}
.bislr_app_view.skin2 .bislr_app .view_content .social h5.data,
.bislr_app_view.skin2 .bislr_app .view_content .rating h5.data {
  font-size: 1em;
}
.bislr_app_view.skin3 {
  font-size: 13px;
  font-family: Times, "Times New Roman", Georgia, serif;
/*42*/
/* 32px */
/* 26px */
/* 22px */
/*19px*/
/*17px*/
/*inherit body 14px*/
/* 13px - caption 	*/
}
.bislr_app_view.skin3 h1,
.bislr_app_view.skin3 .alpha_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 2.8em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin3 h2,
.bislr_app_view.skin3 .beta_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 2.133em;
  line-height: 1.2em;
  font-weight: normal;
}
.bislr_app_view.skin3 h3,
.bislr_app_view.skin3 .gamma_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.733em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin3 h4,
.bislr_app_view.skin3 .delta_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.467em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin3 h5,
.bislr_app_view.skin3 .epsilon_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin3 h6,
.bislr_app_view.skin3 .zeta_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.133em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin3 p {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1em;
  line-height: 1.4em;
  font-weight: normal;
}
.bislr_app_view.skin3 .caption {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 0.867em;
  line-height: 1.4em;
  font-style: italic;
}
.bislr_app_view.skin3 .bislr_app.secondary .view_content .title h3 {
  font-size: 1.833em;
}
.bislr_app_view.skin3 .bislr_app.feature {
  border-bottom: 1px solid #ebebeb;
}
.bislr_app_view.skin3 .bislr_app h5,
.bislr_app_view.skin3 .bislr_app p {
  color: #676767;
}
.bislr_app_view.skin3 .bislr_app .view_content .title h3 {
  font-size: 2.333em;
  font-weight: bold;
  color: #404040;
}
.bislr_app_view.skin3 .bislr_app .view_content .company h5 {
  font-size: 1.083em;
}
.bislr_app_view.skin3 .bislr_app .view_content .company h5.string {
  color: #404040;
}
.bislr_app_view.skin3 .bislr_app .view_content .company h5.data {
  color: #676767;
}
.bislr_app_view.skin3 .bislr_app .view_content .distributor h5 {
  font-size: 0.917em;
}
.bislr_app_view.skin3 .bislr_app .view_content .save h5 {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .save h5.string {
  color: #676767;
}
.bislr_app_view.skin3 .bislr_app .view_content .save h5.data {
  color: #404040;
  font-size: 1.25em;
}
.bislr_app_view.skin3 .bislr_app .view_content .listprice h5 {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .listprice h5.string {
  color: #676767;
}
.bislr_app_view.skin3 .bislr_app .view_content .listprice h5.data {
  font-size: 1.25em;
  color: #404040;
  text-decoration: line-through;
}
.bislr_app_view.skin3 .bislr_app .view_content .price h5 {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .price h5.string {
  color: #676767;
  font-weight: normal;
}
.bislr_app_view.skin3 .bislr_app .view_content .price h5.data {
  font-size: 1.25em;
  font-weight: bold;
  padding: 3px 10px;
  color: #fff;
  background: #7aa48a;
  border-radius: 3px;
  moz-border-radius: 3px;
  webkit-border-radius: 3px;
}
.bislr_app_view.skin3 .bislr_app .view_content .stock h5 {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .stock h5.string {
  color: #404040;
}
.bislr_app_view.skin3 .bislr_app .view_content .stock h5.data {
  color: #676767;
}
.bislr_app_view.skin3 .bislr_app .view_content .tax h5 {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .tax h5.string {
  color: #404040;
}
.bislr_app_view.skin3 .bislr_app .view_content .tax h5.data {
  color: #676767;
}
.bislr_app_view.skin3 .bislr_app .view_content .shipping h5 {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .shipping h5.string {
  color: #404040;
}
.bislr_app_view.skin3 .bislr_app .view_content .shipping h5.data {
  color: #676767;
}
.bislr_app_view.skin3 .bislr_app .view_content .dropdown_list h5 {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .dropdown_list h5.string {
  color: #404040;
}
.bislr_app_view.skin3 .bislr_app .view_content .dropdown_list .data fieldset select {
  color: #676767;
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .quantity h5 {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .quantity h5.string {
  color: #404040;
}
.bislr_app_view.skin3 .bislr_app .view_content .quantity .data fieldset input.list_input {
  background: #fff;
  border: 1px solid #ccc;
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .coupon h5 {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .coupon h5.string {
  color: #404040;
}
.bislr_app_view.skin3 .bislr_app .view_content .coupon .data fieldset input.list_input {
  background: #fff;
  border: 1px solid #ccc;
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .add_to_cart h5 {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .add_to_cart h5.string {
  color: #404040;
}
.bislr_app_view.skin3 .bislr_app .view_content .add_to_cart .data fieldset .button button {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.083em;
  font-weight: bold;
  border-radius: 3px;
  moz-border-radius: 3px;
  webkit-border-radius: 3px;
}
.bislr_app_view.skin3 .bislr_app .view_content .description h5.string {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .description p.data {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .description p.link {
  cursor: pointer;
}
.bislr_app_view.skin3 .bislr_app .view_content .description p.link a {
  text-decoration: none;
  font-weight: bold;
  color: #404040;
  font-size: 0.917em;
}
.bislr_app_view.skin3 .bislr_app .view_content .social h5.string,
.bislr_app_view.skin3 .bislr_app .view_content .rating h5.string {
  font-size: 1em;
}
.bislr_app_view.skin3 .bislr_app .view_content .social h5.data,
.bislr_app_view.skin3 .bislr_app .view_content .rating h5.data {
  font-size: 1em;
}
.bislr_app_view.skin4 {
  background: #2e2e2e;
  font-size: 13px;
  font-family: Times, "Times New Roman", Georgia, serif;
/*42*/
/* 32px */
/* 26px */
/* 22px */
/*19px*/
/*17px*/
/*inherit body 14px*/
/* 13px - caption 	*/
}
.bislr_app_view.skin4 h1,
.bislr_app_view.skin4 .alpha_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 2.8em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin4 h2,
.bislr_app_view.skin4 .beta_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 2.133em;
  line-height: 1.2em;
  font-weight: normal;
}
.bislr_app_view.skin4 h3,
.bislr_app_view.skin4 .gamma_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.733em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin4 h4,
.bislr_app_view.skin4 .delta_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.467em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin4 h5,
.bislr_app_view.skin4 .epsilon_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin4 h6,
.bislr_app_view.skin4 .zeta_font {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1.133em;
  line-height: 1.3em;
  font-weight: normal;
}
.bislr_app_view.skin4 p {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 1em;
  line-height: 1.4em;
  font-weight: normal;
}
.bislr_app_view.skin4 .caption {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 0.867em;
  line-height: 1.4em;
  font-style: italic;
}
.bislr_app_view.skin4 .bislr_app.secondary .view_content .title h3 {
  font-size: 1.833em;
}
.bislr_app_view.skin4 .bislr_app.feature {
  border-bottom: 1px solid #424242;
}
.bislr_app_view.skin4 .bislr_app h5,
.bislr_app_view.skin4 .bislr_app p {
  color: #cacaca;
}
.bislr_app_view.skin4 .bislr_app .view_content .title h3 {
  font-size: 2.333em;
  font-weight: bold;
  color: #eee;
}
.bislr_app_view.skin4 .bislr_app .view_content .company h5 {
  font-size: 1.083em;
}
.bislr_app_view.skin4 .bislr_app .view_content .company h5.string {
  color: #eee;
}
.bislr_app_view.skin4 .bislr_app .view_content .company h5.data {
  color: #cacaca;
}
.bislr_app_view.skin4 .bislr_app .view_content .distributor h5 {
  font-size: 0.917em;
}
.bislr_app_view.skin4 .bislr_app .view_content .save h5 {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .save h5.string {
  color: #cacaca;
}
.bislr_app_view.skin4 .bislr_app .view_content .save h5.data {
  color: #eee;
  font-size: 1.25em;
}
.bislr_app_view.skin4 .bislr_app .view_content .listprice h5 {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .listprice h5.string {
  color: #cacaca;
}
.bislr_app_view.skin4 .bislr_app .view_content .listprice h5.data {
  font-size: 1.25em;
  color: #eee;
  text-decoration: line-through;
}
.bislr_app_view.skin4 .bislr_app .view_content .price h5 {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .price h5.string {
  color: #cacaca;
  font-weight: normal;
}
.bislr_app_view.skin4 .bislr_app .view_content .price h5.data {
  font-size: 1.25em;
  font-weight: bold;
  padding: 3px 10px;
  color: #fff;
  background: #7aa48a;
  border-radius: 3px;
  moz-border-radius: 3px;
  webkit-border-radius: 3px;
}
.bislr_app_view.skin4 .bislr_app .view_content .stock h5 {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .stock h5.string {
  color: #eee;
}
.bislr_app_view.skin4 .bislr_app .view_content .stock h5.data {
  color: #cacaca;
}
.bislr_app_view.skin4 .bislr_app .view_content .tax h5 {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .tax h5.string {
  color: #eee;
}
.bislr_app_view.skin4 .bislr_app .view_content .tax h5.data {
  color: #cacaca;
}
.bislr_app_view.skin4 .bislr_app .view_content .shipping h5 {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .shipping h5.string {
  color: #eee;
}
.bislr_app_view.skin4 .bislr_app .view_content .shipping h5.data {
  color: #cacaca;
}
.bislr_app_view.skin4 .bislr_app .view_content .dropdown_list h5 {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .dropdown_list h5.string {
  color: #eee;
}
.bislr_app_view.skin4 .bislr_app .view_content .dropdown_list .data fieldset select {
  color: #cacaca;
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .quantity h5 {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .quantity h5.string {
  color: #eee;
}
.bislr_app_view.skin4 .bislr_app .view_content .quantity .data fieldset input.list_input {
  background: #fff;
  border: 1px solid #000;
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .coupon h5 {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .coupon h5.string {
  color: #eee;
}
.bislr_app_view.skin4 .bislr_app .view_content .coupon .data fieldset input.list_input {
  background: #fff;
  border: 1px solid #000;
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .add_to_cart h5 {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .add_to_cart h5.string {
  color: #eee;
}
.bislr_app_view.skin4 .bislr_app .view_content .add_to_cart .data fieldset .button button {
  background: #fdfdfd;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.083em;
  font-weight: bold;
  border-radius: 3px;
  moz-border-radius: 3px;
  webkit-border-radius: 3px;
}
.bislr_app_view.skin4 .bislr_app .view_content .description h5.string {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .description p.data {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .description p.link {
  cursor: pointer;
}
.bislr_app_view.skin4 .bislr_app .view_content .description p.link a {
  text-decoration: none;
  font-weight: bold;
  color: #eee;
  font-size: 0.917em;
}
.bislr_app_view.skin4 .bislr_app .view_content .social h5.string,
.bislr_app_view.skin4 .bislr_app .view_content .rating h5.string {
  font-size: 1em;
}
.bislr_app_view.skin4 .bislr_app .view_content .social h5.data,
.bislr_app_view.skin4 .bislr_app .view_content .rating h5.data {
  font-size: 1em;
}
.bgrey {
  background: #eaeaea;
}
